version: "3"
services:
  backend:
    image: mean-backend:latest
    ports:
      - "5000:5000"
    environment:
      - MONGO_URL=mongodb://mongo:27017/dd_db
    depends_on:
      - mongo

  frontend:
    image: mean-frontend:latest
    ports:
      - "8081:80"
    environment:
      - API_URL=http://<your-ec2-ip>/api/tutorials
    depends_on:
      - backend

  mongo:
    image: mongo:latest
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

volumes:
  mongo-data:
